<section class="widget-screen">

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>Profile Information</h4>
      </div>
          <div class="widget-body">
              <div class="widget-row">
                <span class="col-4">First Name:</span>
                <span class="col-8"><%= @profile.first_name %></span>
              </div>
              <div class="widget-row">
                <span class="col-4">Last Name:</span>
                <span class="col-8"><%= @profile.last_name %></span>
              </div>
              <div class="widget-row center">
                <span class='btn btn-large'><%= link_to 'Edit Profile', edit_user_profile_path(@profile.user, @profile) %></span>
              </div>
              <div class="widget-row center">
                <span class='btn btn-large'><%= link_to 'Dashboard', user_path(current_user) %></span>
              </div>
        </div>
    </div>
  </div>

</section>