.header {
  background-color: rgba(130,65,25,1);
  height: 100px;
  width: 100%;
}

.banner {
  background-color: rgba(214,107,41,1);
  width: 100%;
  height: 50px;
}

.logo {
  float: left;
}

.user-nav-menu {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  float: right;
}

.flex-container.header {
  padding-left: 0px;
  padding-right: 0px;
}